/* === GENERAL STYLING === */

body {
  margin: 0;
  padding: 0;
  --bgColor: #F6F7F9;
  --accentColor: #E40015;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h1 { font-size: 2rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.6rem; }
h4 {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
p em { font-family: "Playfair Display", sans-serif; }

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

/* === HEADER STYLING === */

#home {
  background-color: var(--bgColor);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 0 10px;
}

/* === MAIN STYLING === */

main {
  margin: 0;
  padding: 0;
}

/* @@@ Hero Section @@@ */

#hero-section {
  background-image: url(../images/happy-tech-test-dog.jpg);
  background-size: cover;
  background-position: 70% 10%;
  height: 100vh;
}

.hero-text {
  padding: 3.5rem;
  background-color: var(--bgColor);
  max-width: 30%;
  top: 45%;
  position: absolute;
}

.hero-text h2 {
  margin: 1rem 0;
}

/* @@@ Slider Section @@@ */

#slider-section {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--bgColor);
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slide img {
  width: 75%;
}
.slide i {
  font-size: 4rem;
}

.slide-description {
  padding-top: 3rem;
}
.slide-description h4 {
  font-size: 1.5rem;
}

/* @@@ Feed Section @@@ */

#feed-section {
  padding: 8rem 0;
}

#feed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feed-item {
  margin: 2.5%;
  max-width: 45%;
  position: relative;
  background-color: var(--bgColor);
}
.feed-item img {
  width: 100%;
}
.feed-item .feed-text {
  padding: 1.75rem;
}
.feed-item .feed-text h3 {
  margin: 0 0 1rem 0;
}
.feed-item .feed-text p {
  max-height: 120px;
  overflow: hidden;
}
.feed-item .feed-date {
  margin-top: -1.5rem;
  padding: 0 10px;
  position: absolute;
  right: 2.5rem;
  color: white;
  background-color: var(--accentColor);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.feed-item a {
  color: var(--accentColor);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

/* @@@ Pre-footer Section @@@ */

#pre-footer-section {
  color: white;
  background-color: #444;
}

#pre-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#pre-footer-container > * {
  padding: 4rem 0;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sitemap {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

#pre-footer-form form {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
#pre-footer-form input {
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.3rem;
  font-style: italic;
}
#pre-footer-form button {
  height: 46px;
  color: white;
  background-color: var(--accentColor);
  border: 0;
  text-transform: uppercase;
}

/* === FOOTER STYLING === */

footer {
  padding: 2rem 0;
  color: white;
  background-color: #231F1F;
  border-top: 2px solid black;
}

#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#copyright i {
  font-size: 0.8em;
}

#social-icons > * {
  margin-left: 10px;
}